body {
  height: 100vh;
  width: 100vw;
  background: url('https://t4.ftcdn.net/jpg/00/89/88/45/360_F_89884561_M3enHVLX5WJ25KRFkNHaPmvBgHKZUbdh.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}


.font-link {
  font-family: 'Newsreader', serif;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
}