/* @font-face {font-family: "Ny Times";
  src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
} */
.article-card {
  /* height: 500px;
  width: 500px; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly;
  margin-left: -1.5em;
  margin-bottom: 6em; */
}

.title {
  color: rgba(57, 17, 4, 0.747);
  font-size: 2.1em;
  text-align: center;
  /* font-family: Ny Times, Arial; */
  margin-top: 3em;  
  /* position: relative; */
}

.dropdown {
  color: rgb(185, 44, 13);
  font-size: x-large;
  margin-left: 1em;
}

.byline {
  color: rgb(185, 44, 13);
  font-size: 2em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.article-img {
  height: 30vw;
  width: 35vw;
  border:1px solid #7d5c5c; 
  margin-top: 5%;
  margin-left: 25%;
  border-radius: 20px;
  animation: wiggle 2s linear
}

.articles {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* flex-template-columns: repeat(3, 1fr); */
  /* grid-gap: 20px;
  justify-items: center;
  margin: 2em; */
}